Scenario 3
====

Instructions
----
To improve the quality control, the Steroids Section would like to keep records of drifts in the peak are of the internal standard for the 17-hydroxy progesterone assay. Please calculate the mean and standard deviation of peak area of internal standard for each weekly run for the past three months.

Load data
----

In [2]:
# First select this box and press shift-enter to load the data
suppressMessages(library(tidyverse))
data <- read.csv("data/scenario_3.csv")

Warning message:
“package ‘ggplot2’ was built under R version 3.4.4”Warning message:
“package ‘tidyr’ was built under R version 3.4.4”Warning message:
“package ‘purrr’ was built under R version 3.4.4”Warning message:
“package ‘dplyr’ was built under R version 3.4.4”Warning message:
“package ‘stringr’ was built under R version 3.4.4”

Code
----

In [4]:
# Then select this box and press shift-enter to run it
data %>%
group_by(date) %>%
summarise(mean = mean(internal_standard_area), sd = sd(internal_standard_area))

   date       mean      sd
1  2018-11-07  67.72485 3.169275
2  2018-11-14  85.71192 4.663123
3  2018-11-21 109.58159 5.780688
4  2018-11-28  65.36040 3.048896
5  2018-12-05  92.42199 3.004800
6  2018-12-12 131.67461 7.750862
7  2018-12-19  98.27185 5.634938
8  2018-12-26  84.92900 6.092561
9  2019-01-02  76.55906 4.036325
10 2019-01-09 103.81500 3.865770
11 2019-01-16 100.54951 5.684727
12 2019-01-23 105.81362 4.686687
13 2019-01-30  86.33791 4.600717
14 2019-02-06 113.32896 5.044916
15 2019-02-13  76.37257 3.212685
16 2019-02-20 111.58556 4.574463
17 2019-02-27  53.67856 2.876166

In [ ]:
# To show the original data select this box and press shift-enter
data